#hero, #header {
    background-color: #91C8E4;
}

#hero {
    height: 90vh;
}

h1.fw-bold {
    color: #F6F4EB;
    font-size: 8rem;
    font-family: 'Roboto Mono', monospace;
    margin-top: 100px;
    margin-bottom: 75px;
}

.nav-link {
    color: #F6F4EB;
}

.nav {
    --bs-nav-link-hover-color : #4682A9;
}

li, p{
    font-family: 'Noto Sans KR', sans-serif;
    color: #749BC2;
}

.hero-p {
    color: #F6F4EB;
    font-size: 2rem;
}

.jumbotron-h2 {
    font-size: 3rem;
    font-family: 'Roboto Mono', monospace;
    color: #4682A9;
    margin-top: 100px;
    margin-bottom: 50px;
}

.my-tmi {
    background-color: #F6F4EB;
    margin-top: 0;
    padding-top: 200px;
}

.tmi-title {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: #4682A9;
    font-size: 3rem;
    margin-bottom: 100px;
}

.bg-body-tertiary {
    background-color: #F6F4EB!important;
}

.tmi-content {
    margin-bottom: 100px;
}

.tmi-img {
    width: 300px;

}

.tmi-h2 {
    color: #4682A9;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.5rem;
}

.tmi-text {
    margin-left: 20px;
}

.jumbotron-contact-me {
    background-color: #F6F4EB;
    padding-top: 200px;
}

.jumbotron-h2 {
    font-family: 'Roboto Mono', monospace;
    color: #4682A9;
    font-size: 3rem;
}

.footer {
    background-color: #F6F4EB;

}

.footer-nav {
    color: #4682A9;
    --bs-nav-link-hover-color : #749BC2;
}
